# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# lockfiles
yarn.lock
package-lock.json
pnpm-lock.yaml
pnpm-lock.yml


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store


*.md

*.config.cjs
*.config.mjs
*.config.js
tsconfig.json