{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "pluginSearchDirs": ["."],
    "trailingComma": "all",
    "bracketSameLine": false
}
