<section id="hero" aria-labelledby="hero-heading" class="lg:container mx-auto">
    <p id="hero-heading" class="text-5xl font-normal leading-snug">
        Hi. I'm Abdullah, <br/> and I love to make develop great experiences on the
        web.
    </p>
</section>
