---
import Navbar from "@layouts/Navbar";
import Footer from "@layouts/Footer";

export interface LayoutProps {
	darkMode?: boolean;
}
const { darkMode = false } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class:list={[darkMode && "dark", "dark:bg-dark dark:text-light"]}>
		<main>
			<Navbar />
			<slot />
			<Footer />
		</main>
	</body>
</html>
