<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Fonts -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,400&display=swap"
		/>
	</head>
	<body>
		<main>
			<!-- children of <Layout> go here -->
			<slot />
		</main>
		<style>
			html {
				font-family: "DM Mono", Monaco, monospace;
			}
		</style>
	</body>
</html>
